/* Media crop
-----------------------------------------------------------------*/
.media-frame-content .crop-content > img + div + div {
	min-height: 10px;
}


/* Notices
-----------------------------------------------------------------*/
.callie_britt_admin_notice {
	display:block;
	margin-top: 1em;
	margin-left: 0;
	overflow: hidden;
	position: relative;
}
.callie_britt_admin_notice .callie_britt_notice_image {
	float: left;
	margin-right: 2em;
}
.callie_britt_admin_notice .callie_britt_notice_image img {
	max-height: 135px;
	width: auto;
}
.callie_britt_admin_notice .callie_britt_notice_title {
	margin:0;
}
.callie_britt_admin_notice .callie_britt_notice_title a {
	text-decoration: none;
}
.callie_britt_admin_notice.callie_britt_rate_notice .callie_britt_notice_title:after {
	display: inline-block;
	vertical-align: top;
	content: '\f155\f155\f155\f155\f155';
	font-family: 'dashicons';
	margin-left: 0.5em;
	color: #ffcc00;
	font-size: 1em;
}
.callie_britt_admin_notice .callie_britt_notice_text {
	margin: 1em 0;
}
.callie_britt_admin_notice p {
	margin: 0 0 0.1em;
}
.callie_britt_admin_notice .callie_britt_notice_text_info {
	margin-top: 0.5em;
	font-style: italic;
}
.callie_britt_admin_notice .dashicons {
	font-size:1.2em;
	line-height:inherit;
}

.callie_britt_admin_notice .button+.button {
	margin-left: 0.3em;
}

.callie_britt_admin_notice .callie_britt_hide_notice {
	position: absolute;
	right: 1em;
	top: 1em;
	text-decoration: none;
}
@media (max-width: 799px) {
	.callie_britt_admin_notice .callie_britt_hide_notice_text {
		display: none;
	}
}


/* Admin messages
-----------------------------------------------------------------*/
.callie_britt_admin_messages {
	margin-bottom: 1em;
}
.callie_britt_admin_messages .callie_britt_admin_message_item {
	margin: 0.5em 0;
}


/* Menu icons
-----------------------------------------------------------------*/
.menu-item-settings .description-thin {
	position:relative;
}
.callie_britt_list_icons_selector {
	position:absolute;
	right: 1px;
	top: 50%;
	-webkit-transform:translateY(-50%);
	    -ms-transform:translateY(-50%);
	        transform:translateY(-50%);
	z-index:2;
	display:inline-block;
	width: 24px;
	height:24px;
	line-height: 24px;
	text-align:center;
	border-left: 1px solid #ccc;
	background-size: 100%;
	background-position:left top;
	background-repeat:no-repeat;
	cursor:pointer;
}
.menu-item-settings .callie_britt_list_icons_selector {
	top: auto;
	bottom: 2px;
	-webkit-transform:none;
	    -ms-transform:none;
	        transform:none;
	background-color:#fff;
}
.callie_britt_list_icons {
	position:absolute;
	display:none;
	z-index:1000;
	width: 298px;
	height: 284px;
	overflow-x:hidden;
	overflow-y:scroll;
	background-color:#f0f0f0;
	padding:1px 0 0 1px;
	border: 2px solid #ccc;
	max-width:100%;
}
.callie_britt_list_icons input[type="text"].callie_britt_list_icons_search {
	display: block;
	font-size: 16px;
	width: 99% !important;
	padding: 6px;
	margin-bottom:1px;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.callie_britt_list_icons span {
	display:inline-block;
	font-size: 16px;
	width: 2em;
	height:2em;
	line-height: 2em;
	text-align:center;
	vertical-align:top;
	border: 1px solid #ccc;
	margin: 0 1px 1px 0;
	background-color:#fff;
	background-size: contain;
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
	-webkit-border-radius: 2px;
	    -ms-border-radius: 2px;
			border-radius: 2px;
}
.customize-control .callie_britt_list_icons span {
	font-size: 15px;
}
.callie_britt_list_icons span:before,
.callie_britt_list_icons_selector:before {
	margin:0;
}
.callie_britt_list_icons span:hover,
.callie_britt_list_icons span.callie_britt_list_active,
.callie_britt_list_icons_selector:hover {
	background-color:#f0f0f0;
	border-color: #bbb;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
	    -ms-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);	
}
.callie_britt_list_icons span.callie_britt_list_hidden {
	display: none;
}


/* Checklist
-----------------------------------------------------------------*/
.callie_britt_checklist {
	max-height:20em;
	overflow-x: hidden;
	overflow-y: auto;
}
.callie_britt_checklist .callie_britt_checklist_item_label {
	display:block;
	width: 100%;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.callie_britt_checklist_horizontal .callie_britt_checklist_item_label {
	display:inline-block;
	vertical-align:top;
	padding-right: 1em;
	width: 33.3333%;
}
.callie_britt_checklist_vertical .callie_britt_checklist_item_label {
	margin-bottom: 0.5em;
}
.callie_britt_checklist .callie_britt_checklist_item_label img {
	height: 2.5em;
	width: auto;
	display:inline-block;
	vertical-align:middle;
}

.callie_britt_sortable .callie_britt_sortable_item,
.callie_britt_sortable .callie_britt_sortable_placeholder {
	padding:0.5em 1em;
	border: 1px dotted #ddd;
}
.callie_britt_sortable .callie_britt_sortable_placeholder {
	background-color:#fffddd;
	border: 1px dashed #ccc;
	min-height: 1.5em;
}
.callie_britt_sortable .callie_britt_sortable_item.ui-sortable-helper {
	background-color:#ffffff;
	-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
	    -ms-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
			box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}


/* Theme Options & Meta boxes
-----------------------------------------------------------------*/
.callie_britt_hidden {
	display: none;
}

div.callie_britt_tabs {
	border: none;
	background: none;
	font-size: 1em;
}
div.callie_britt_tabs > ul.ui-tabs-nav {
	margin-bottom:0;
	padding: 0;
	position:relative;
	z-index:1;
	background: none;
	border: none;
}
div.callie_britt_tabs > ul.ui-tabs-nav > li {
	display:inline-block;
	margin:0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border:1px solid #ddd;
	border-bottom:none;
}
div.callie_britt_tabs > ul.ui-tabs-nav > li > a {
	display:block;
	padding: 0.7em 1em;
	text-decoration:none;
	-webkit-box-shadow: none !important;
	    -ms-box-shadow: none !important;
			box-shadow: none !important;
}
div.callie_britt_tabs > ul.ui-tabs-nav > li.ui-state-active > a {
	position:relative;
	top: 1px;
	background-color:#fff;
}
div.callie_britt_tabs > ul.ui-tabs-nav > li+li {
	margin-left:3px;
}

div.callie_britt_tabs .callie_britt_tabs_section {
	padding: 2em 1.5em;
	border:1px solid #ddd !important;
	background-color:#fff;
}
div.callie_britt_tabs_section + .callie_britt_tabs_section {
	display:none;
}

/* Accordion groups */
div.callie_britt_accordion {
	padding:0 !important;
}
div.callie_britt_accordion + .callie_britt_accordion,
.callie_britt_options_item + .callie_britt_options_groups {
	padding:1.5em 0 !important;
}
div.callie_britt_accordion_title,
div.ui-accordion .callie_britt_accordion_title.ui-accordion-header {
	padding:0.8em 1em;
	color: #fff;
	background: #bbb;
	margin:0;
	margin-top:1px;
	cursor:pointer;
	-webkit-border-radius: 0;
	    -ms-border-radius: 0;
			border-radius: 0;
}
div.ui-accordion .callie_britt_accordion_title.ui-accordion-header.ui-state-active {
	background:#888;
}
div.ui-accordion .callie_britt_accordion_title.ui-accordion-header .ui-icon {
	display:inline-block;
	vertical-align:top;
	text-indent:0;
	margin-right:0.8em;
}
div.ui-accordion .callie_britt_accordion_title.ui-accordion-header .ui-icon:before {
	content:'\e929';
	font-family: 'fontello';
}
div.callie_britt_accordion_title.ui-accordion-header.ui-state-active .ui-icon:before {
	content:'\e92c';
}
div.ui-accordion .callie_britt_accordion_content {
	border:1px solid #ccc;
	padding: 1em 2em;
}


/* Single and Range Slider */
.callie_britt_range_slider {
	font-family:inherit;
	font-size:1em;
	line-height:inherit;
	margin-top: 0.5em;
	margin-bottom: 1.5em;
}
.callie_britt_range_slider_value {
	display:inline-block;
	vertical-align:top;
	width: 15% !important;
	margin-right:3% !important;
	text-align:right;
}
.callie_britt_range_slider_value + .callie_britt_range_slider {
	display:inline-block;
	vertical-align:top;
	width: 80%;
}
@media (max-width: 479px) {
	.callie_britt_range_slider_value {
		width: 20% !important;
	}
	.callie_britt_range_slider_value + .callie_britt_range_slider {
		width: 75%;
	}
}
.callie_britt_range_slider_label {
	font-size: 0.75em;
	font-weight: bold;
	line-height: 1em;
	position: absolute;
	z-index:1;
	bottom: -2em;
}
.callie_britt_range_slider_label_min {
	left: 0;
	color: #aaa;
	-webkit-transform:translateX(-50%);
	    -ms-transform:translateX(-50%);
	        transform:translateX(-50%);
}
.callie_britt_range_slider_label_max {
	right: 0;
	color: #aaa;
	-webkit-transform:translateX(50%);
	    -ms-transform:translateX(50%);
	        transform:translateX(50%);
}
.callie_britt_range_slider_label_cur {
	color: #909090;
	left: 0;
	bottom: auto;
	top: 1.4em;
	-webkit-transform:translateX(-50%);
	    -ms-transform:translateX(-50%);
	        transform:translateX(-50%);
}
div.ui-slider {
	position:relative;
	text-align:left;
	background: #ffffff;
	border: 1px solid #d8d8d8;
	-webkit-border-radius: 2px;
	    -ms-border-radius: 2px;
			border-radius: 2px;
}
div.ui-slider .ui-slider-handle {
	position:absolute;
	z-index:2;
	width:1.1em;
	height:1.1em;
	cursor:default;
	-ms-touch-action:none;
	touch-action:none;
	border: 3px solid #ffffff;
	background: #f0f0f0;
	-webkit-border-radius: 50%;
	    -ms-border-radius: 50%;
			border-radius: 50%;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	    -ms-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
			box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}
div.ui-slider .ui-slider-handle:hover,
div.ui-slider .ui-slider-handle.ui-state-active {
	background: #ddd;
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	    -ms-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
			box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}
div.ui-slider .ui-slider-handle.ui-state-active {
	background: #64abc8;
}
div.ui-slider .ui-slider-range {
	position:absolute;
	z-index:1;
	font-size:.7em;
	display:block;
	border:0;
	background-position:0 0;
	background: #70c0e0;
	-webkit-border-radius: 1px;
	    -ms-border-radius: 1px;
			border-radius: 1px;
}
div.ui-slider.ui-state-disabled .ui-slider-handle,
div.ui-slider.ui-state-disabled .ui-slider-range {
	filter:inherit
}
div.ui-slider-horizontal {
	height:.3em
}
div.ui-slider-horizontal .ui-slider-handle {
	top:-.5em;
	margin-left:-.5em
}
div.ui-slider-horizontal .ui-slider-range {
	top:0;
	height:100%
}
div.ui-slider-horizontal .ui-slider-range-min {
	left:0
}
div.ui-slider-horizontal .ui-slider-range-max {
	right:0
}
div.ui-slider-vertical {
	width:.8em;
	height:100px
}
div.ui-slider-vertical .ui-slider-handle {
	left:-.3em;
	margin-left:0;
	margin-bottom:-.6em
}
div.ui-slider-vertical .ui-slider-range {
	left:0;
	width:100%
}
div.ui-slider-vertical .ui-slider-range-min {
	bottom:0
}
div.ui-slider-vertical .ui-slider-range-max {
	top:0
}


/* Single option */
.callie_britt_options_item {
    padding: 1.5em 0 1.25em;
}
.callie_britt_options_item:not(.callie_britt_options_item_info) + .callie_britt_options_item:not(.callie_britt_options_item_info) {
    border-top: 1px dotted #ddd;
}
.callie_britt_options_item:after {
	content: ' ';
}
.callie_britt_new_row_before,
.callie_britt_options_item:after {
	display:block;
	width:100%;
	height:0;
	clear: both;
}
.callie_britt_options_item_title {
	display: inline-block;
	vertical-align:top;
	margin:0.4em 0.5em 0.5em 0;
	max-width:95%;
	width: 190px;
	padding-right:20px;
	position: relative;
}
.callie_britt_options_item_checkbox .callie_britt_options_item_title {
	margin-top:0.2em;
}
.callie_britt_options_item_data {
	display:inline-block;
	vertical-align:top;
	width:100%;
	max-width:470px;
}
.callie_britt_options_item_text_editor .callie_britt_options_item_data {
	max-width: 800px;
}
.callie_britt_options_item_text_editor iframe {
	min-height: 200px;
}
.callie_britt_options_item_field {
	position:relative;
}
.callie_britt_options_item_description {
	font-style: italic;
	font-size:0.9em;
}
.callie_britt_options_item input[type="text"],
.callie_britt_options_item textarea,
.callie_britt_options_item select {
	width:100%;
}

/* Checkbox */
.callie_britt_options_item_checkbox .callie_britt_options_item_label {
	display:inline-block;
	margin: 0.5em 0;
}

/* Radio and Switch */
.callie_britt_options_item_switch .callie_britt_options_item_label,
.callie_britt_options_item_radio .callie_britt_options_item_label {
	display:inline-block;
	margin: 0.5em 1em 0.5em 0;
}

/* Checklist */
.callie_britt_options_item_checklist .callie_britt_options_item_description {
	margin-top: 0.5em;
}

/* Color */
.callie_britt_options_item_color .callie_britt_options_item_description {
	margin-top: 0.5em;
}

/* Image */
.callie_britt_options_item_image input[type="text"],
.callie_britt_options_item_media input[type="text"],
.callie_britt_options_item_audio input[type="text"],
.callie_britt_options_item_video input[type="text"] {
	width: 73% !important;
	margin: 0 1px 0 0;
	height: 28px;
	line-height: 26px;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.callie_britt_options_item_image .callie_britt_media_selector,
.callie_britt_options_item_media .callie_britt_media_selector,
.callie_britt_options_item_audio .callie_britt_media_selector,
.callie_britt_options_item_video .callie_britt_media_selector {
	display:inline-block;
	width: 26%;
	max-width: 105px;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: none;
	    -ms-box-shadow: none;
			box-shadow: none;
}

/* Columns */
[class*="callie_britt_column-"] {
	display:inline-block;
	vertical-align:top;
	padding-right: 20px;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.callie_britt_column-1_2 { width: 50%; }
.callie_britt_column-1_3 { width: 33.3333%; }
.callie_britt_column-2_3 { width: 66.6667%; }
.callie_britt_column-1_4 { width: 25%; }
.callie_britt_column-2_4 { width: 50%; }
.callie_britt_column-3_4 { width: 75%; }
.callie_britt_column-1_5 { width: 20%; }
.callie_britt_column-2_5 { width: 40%; }
.callie_britt_column-3_5 { width: 60%; }
.callie_britt_column-4_5 { width: 80%; }
@media (max-width: 1279px) {
	.callie_britt_column-1_4,
	.callie_britt_column-3_4,
	.callie_britt_column-1_5,
	.callie_britt_column-2_5,
	.callie_britt_column-3_5,
	.callie_britt_column-4_5 { width: 50%; }
}
@media (max-width: 1023px) {
	.callie_britt_column-1_3,
	.callie_britt_column-2_3 { width: 50%; }
}
@media (max-width: 767px) {
	.callie_britt_column-1_2,
	.callie_britt_column-1_3,
	.callie_britt_column-2_3,
	.callie_britt_column-1_4,
	.callie_britt_column-2_4,
	.callie_britt_column-3_4,
	.callie_britt_column-1_5,
	.callie_britt_column-2_5,
	.callie_britt_column-3_5,
	.callie_britt_column-4_5 { width: 100%; padding-right: 0; }
}
[class*="callie_britt_column-"] .callie_britt_options_item_title {
	text-align: left;
	float: none;
	width: auto;
	padding-right: 0;
	display:block;
}
[class*="callie_britt_column-"] .callie_britt_options_item_data {
	text-align: left;
	float: none;
	width: auto;
	min-width: none;
	display:block;
}
.callie_britt_options_item[class*="callie_britt_column-"] {
	border-width:0 !important;
}

/* Info block */
.callie_britt_options_item_info {
	background-color:#f7f7f7;
	padding: 1em 1.5em;
	border-left: 3px solid #aaa;
}
.callie_britt_options_item_info .callie_britt_options_item_title,
.callie_britt_options_item_info .callie_britt_options_item_data {
	float:none;
	width: 100%;
}
.callie_britt_options_item_info .callie_britt_options_item_title {
	text-transform:uppercase;
	letter-spacing:1px;
	text-align: left;
}

/* Images preview */
.callie_britt_options_field_preview {
	display: block;
	margin: 1em 0 0;
}
.callie_britt_options_field_preview img {
	width:auto;
	max-width: 100%;
	height: auto;
	max-height: 100px;
	vertical-align:top;
}
.callie_britt_options_field_preview > img,
.callie_britt_options_field_preview > span {
	margin: 0 0.3em 0.3em 0;
	position:relative;
	max-width: 30%;
}
.callie_britt_options_field_preview > span {
	display:inline-block;
	cursor:pointer;
}
.callie_britt_options_field_preview > span > a {
	padding:0.3em 0.5em;
}
.callie_britt_options_field_preview > span:before {
	content: ' ';
	position: absolute;
	z-index:1;
	left:0;
	top:0;
	right: 0;
	bottom: 0;
	background-color:rgba(0,0,0,0.5);
	opacity: 0;
	-webkit-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	        transition: opacity .3s ease;
}
.callie_britt_options_field_preview > span:after {
	content: '\e916';
	font-family:'fontello';
	z-index:2;
	position:absolute;
	left: 50%;
	top: 50%;
	display:block;
	text-align:center;
	font-size: 1em;
	width: 1em;
	height: 1em;
	line-height: 1em;
	margin:-0.6em 0 0 -0.5em;
	color: #fff;
	opacity: 0;
	-webkit-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	        transition: opacity .3s ease;
}
.callie_britt_options_field_preview > span:hover:before,
.callie_britt_options_field_preview > span:hover:after {
	opacity:1;
}


.callie_britt_options_item_icon .callie_britt_list_icons_selector {
	right: 0;
}

/* Inherit state */
.callie_britt_options_inherit_lock {
	position:absolute;
	z-index:1;
	right: 0;
	top: 0;
	display:block;
	width:18px;
	height:18px;
	line-height:18px;
	background-color:#d0d0d0;
	color:#4c4c4c;
	text-align:center;
	border-radius: 2px;
	-webkit-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	        transition: all ease .3s;
}
.callie_britt_options_inherit_off .callie_britt_options_inherit_lock {
	background-color:#4cb2e1;
	color:#ffffff;
}
.callie_britt_options_inherit_lock:before {
	font-family:'fontello';
	content: '\e82b';
	padding:0;
	margin:0;
}
.callie_britt_options_inherit_off .callie_britt_options_inherit_lock:before {
	content: '\e8a9';
}
.callie_britt_options_inherit_cover {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(0,0,0,0.5);
	background-image:url(../images/stripe-black.png);
	z-index:3;
}
.callie_britt_options_inherit_label {
	position:absolute;
	display:inline-block;
	left:50%;
	top:50%;
	margin:-10px 0 0 -30px;
	font-size:20px;
	font-weight:bold;
	color:#fff;
}
.callie_britt_options_wait:before {
	font-family:'fontello';
	content: '\e810' !important;
	display:inline-block;
	width: 1em;
	height: 1em;
	line-height:1em;
	text-align:center;
	-webkit-animation: spin 2s infinite linear;
	    -ms-animation: spin 2s infinite linear;
	        animation: spin 2s infinite linear;
}

/* Buttons */
.callie_britt_options_buttons {
	margin-top: 1em;
}
.callie_britt_options_buttons input {
	border: 1px solid #0080b0;
	background-color: #00a0d0;
	color:#fff;
	padding: 0.5em 1em;
}
.callie_britt_options_buttons input:hover {
	border-color: #006090;
	background-color: #0073aa;
}


/* Color scheme editor
-------------------------------------------------- */
.callie_britt_scheme_editor {
	margin-bottom:1em;
}
.callie_britt_scheme_editor_scheme {
	margin-bottom: 10px;
	padding-right: 95px;
	position: relative;
}
.callie_britt_scheme_editor_controls {
	position: absolute;
	z-index: 1;
	right: 0;
	top: 1px;
	bottom: 0;
}
.callie_britt_scheme_editor_control {
	display: inline-block;
	vertical-align: top;
	width: 27px;
	height: 27px;
	line-height: 25px;
	text-align: center;
	margin-left: 2px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: #f7f7f7;
	color: #666;
	cursor: pointer;
	-webkit-transition: color .3s ease, background-color .3s ease;
	    -ms-transition: color .3s ease, background-color .3s ease;
	        transition: color .3s ease, background-color .3s ease;	
}
.callie_britt_scheme_editor_control:hover {
	background-color: #eee;
	color: #333;
}
@media (max-width: 782px) {
	.callie_britt_scheme_editor_control {
		height: 35px;
		line-height: 33px;
	}
}

.callie_britt_scheme_editor_control:before {
	font-family: 'fontello';
	font-size: 1.15em;
}
.callie_britt_scheme_editor_control_reset:before {
	content: '\e80e';
}
.callie_britt_scheme_editor_control_copy:before {
	content: '\f0c5';
}
.callie_britt_scheme_editor_control_delete:before {
	content: '\e8da';
}
.callie_britt_scheme_editor_type {
	margin-bottom: 10px;
}
.callie_britt_scheme_editor_type .callie_britt_scheme_editor_row {
	border: none;
}
.callie_britt_scheme_editor_type label+label {
	margin-left: 1em;
}
.callie_britt_scheme_editor_type .callie_britt_scheme_editor_description {
	font-style:italic;
	font-size:0.9em;
}
.callie_britt_scheme_editor_header {
	padding: 3px 0;
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #ddd;
}
.callie_britt_scheme_editor_header_cell,
.callie_britt_scheme_editor_row_cell {
	display:inline-block;
	vertical-align:middle;
	width: 15%;
	padding: 0 2px 0 0;
	-webkit-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	        box-sizing: border-box;
}
.callie_britt_scheme_editor_header_cell:first-child,
.callie_britt_scheme_editor_row_cell:first-child {
	width: 25%;
}
.callie_britt_scheme_editor_row_cell_span {
	width: 75%;
}
.callie_britt_scheme_editor_header_cell + .callie_britt_scheme_editor_header_cell,
.callie_britt_scheme_editor_row_cell + .callie_britt_scheme_editor_row_cell {
	margin-left:0;
}
.callie_britt_scheme_editor_header_cell {
	font-weight: bold;
	text-align:center;
}
.callie_britt_scheme_editor_row {
	padding: 3px 0;
	border-bottom: 1px dotted #ddd;
}



/* Internal ColorPicker 
-----------------------------------------------------------------*/
.iColorPickerTable .iColorPicker_moreColors {
	background-image: url(../images/colorpicker-morecolors.png);
	background-repeat:no-repeat;
	display:inline-block;
	margin-left: 0.5em;
	width: 1em;
	height: 1em;
	line-height:1em;
	vertical-align:middle;
	box-shadow: none !important;
}



/* Tiny ColorPicker 
-----------------------------------------------------------------*/
.cp-color-picker {
	z-index:1000;
	background-color: #ddd;
}



/* TGMA
-----------------------------------------------------------------*/
#setting-error-tgmpa {
	display:block;
}
.tgmpa_line_template {
	display: block;
	margin: 0.5em 0.5em 0 0;
	clear: both;
}
.tgmpa_version {
	float: right;
	padding: 0em 1.5em 0.5em 0;
}
.tgmpa_column_version {
	min-width: 32px;
	text-align: right;
	float: right;
}
.tgmpa_column_version_colored {
	color: #ff0000;
	font-weight: bold;
}
.tgmpa_column_version_colored_2 {
	color: #71C671;
	font-weight: bold;
}
.tgmpa_header {
	font-size: 23px;
	font-weight: 400;
	line-height: 29px;
	margin: 0;
	padding: 9px 15px 4px 0;
}
.tgmpa_update_php {
	width: 100%;
	height: 98%;
	min-height: 850px;
	padding-top: 1px;
}
.tgmpa_actions_row {
	color: #888;
}



/* Get PRO Version
------------------------------------------------ */

/* Buttons */
.button.button-action {
	font-size: 1.1538em;
	line-height:1.7em;
	padding:0.6em 1.2em;
	height: auto;
	display: inline-block;
	color: #fff;
	background-color:#008800;
	border-color: #00aa00 #006600 #006600;
	-webkit-box-shadow: 0 1px 0 #006600;
	    -ms-box-shadow: 0 1px 0 #006600;
			box-shadow: 0 1px 0 #006600;
	text-shadow: 0 -1px 1px #006600,1px 0 1px #006600,0 1px 1px #006600,-1px 0 1px #006600;
}

.button.button-action:hover,
.button.button-action:focus,
.button.button-action:active {
	color: #fff;
	background-color:#66aa00;
	border-color: #88cc00 #228800 #228800;
	-webkit-box-shadow: 0 1px 0 #228800;
	    -ms-box-shadow: 0 1px 0 #228800;
			box-shadow: 0 1px 0 #228800;
	text-shadow: 0 -1px 1px #228800,1px 0 1px #228800,0 1px 1px #228800,-1px 0 1px #228800;
}

.callie_britt_about_header .callie_britt_pro_link {
	float:right;
}


/* Form */
.callie_britt_about_header .callie_britt_pro_form_wrap {
	display: none;
	position: fixed;
	z-index: 10001;	/* admin sidemenu have 9990 */
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
}
.callie_britt_about_header .callie_britt_pro_form {
	position: absolute;
	z-index: 10010;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	margin-top: 50px;
	width: 340px;
	padding: 4em;
	border: 1px solid #ddd;
	background-color: #fff;
	-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
	    -ms-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 479px) {
	.callie_britt_about_header .callie_britt_pro_form {
		width: 300px;
	}
}
.callie_britt_pro_close {
	display: none;	/* Hide in Customizer */
}
.callie_britt_pro_close:after {
	content: '\e875';
	font-family: 'trx_addons_icons';
	font-size: 1.25em;
	display: inline-block;
	line-height: inherit;
	margin-left: 0.3em;
}
.callie_britt_pro_close:hover {
	color: #000;
}
.callie_britt_about_header .callie_britt_pro_close {
	display: inline-block;
	padding: 1.2em;
	position: absolute;
	z-index: 1;
	right: 0;
	top: 0;
	cursor: pointer;
	color: #888;
	text-transform: uppercase;
}

.callie_britt_pro_title {
	margin-top: 0;
	color: #333;
}

.callie_britt_pro_link_get {
	color: #0088bb;
	border-bottom: 1px solid #0088bb;
	font-size: 1.25em;
	text-decoration: none;
	transition: color 0.3s ease, border-color 0.3s ease;
}
.callie_britt_pro_link_get:hover {
	color: #008800;
	border-color: #008800;
}

.callie_britt_pro_field {
	border: 1px solid #ddd;
	background-color: #f7f7f7;
	padding: 2em;
}
.callie_britt_pro_field + .callie_britt_pro_field {
	margin-top: 20px;
}
.callie_britt_pro_step_title {
	margin-top: 0;
	font-size: 1em;
	line-height: 1.2em;
	text-transform: uppercase;
	color: #888;
}
.callie_britt_pro_label {
	display: block;
	margin-bottom: 1.5em;
	font-weight: bold;
	color: #333;
}
.callie_britt_pro_field input[type="text"] {
	display: block;
	width: 100%;
	padding: 0.5em 1em;
	box-sizing: border-box;
	margin-bottom: 1em;
}
.callie_britt_pro_upgrade {
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}
.callie_britt_pro_upgrade_process {
	display: inline-block;
	line-height: inherit;
	margin-left: 0.3em;
}